<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Ad</title>
</head>
<body>
    <form action="#" th:action="@{/}" method="post"/>
    <input type="text" th:name="title"/>
    <input type="text" th:name="content"/>
    <input type="text" th:name="url"/>
    <input type="text" th:name="allocation_budget_per_day"/>
    <input type="text" th:name="gender"/>
    <input type="text" th:name="generation"/>
    <input type="text" th:name="location"/>
    <input type="text" th:name="start_date"/>



    <button type="submit">ENTER</button>
</body>
</html>